@use "../../global" as *;

@mixin berrypress-btn-secondary {
  background-color : $gray-1;
  color            : $text-primary;
  border-color     : $gray-3;
  white-space: nowrap;

  &:hover {
    background-color : darken($gray-1, 2.5%);
    }

  i {
    line-height: 18px;
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    left: -4px
    }

  }