@use "../../global" as *;

.berrypress-field {
  display       : grid;
  align-items: start;
  grid-template-columns: auto 1fr;
  gap           : 10px;
  position      : relative;
  margin-bottom : 10px;
  line-height: 16px;

  label {
    font-size : 14px;
    color     : $text-primary;
    cursor    : pointer;
    vertical-align: super;
    }
  }

.berrypress-page {

  select,
  input[type="email"],
  input[type="number"],
  input[type="text"] {
    height: 30px;
    padding: 0 12px;
    line-height: 28px;
    border: 1px solid $gray-3;
    border-radius: 5px;
    font-size: 14px;

    &:focus {
      border: 1px solid $gray-4;
      box-shadow: unset;
      outline: unset;
      }
    }

  select,
  input[type="email"],
  input[type="text"]  {
    min-width: 100px;
    }

  select {
    padding-right: 30px;
    }

  }