@use "../../global" as *;

.berrypress-page {

  input[type="radio"] {
    position  : absolute;
    opacity   : 0;
    left      : 0;
    top       : 50%;
    transform : translateY(-50%);

    ~ .label,
    ~ label {
      position    : relative;
      display     : flex;
      align-items : center;
      gap         : 10px; // Ensures spacing between radio and text
      cursor      : pointer;
      }

    ~ .label:before,
    ~ label:before {
      content       : "";
      background    : $background-color;
      border-radius : 50%;
      border        : 1px solid $gray-4;
      display       : inline-block;
      width         : 18px;
      height        : 18px;
      position      : relative;
      text-align    : center;
      transition    : all 250ms ease;
      }
    }
  input[type="radio"]:checked + .label::before,
  input[type="radio"]:checked + label::before {
    background-color : $primary-color;
    box-shadow       : inset 0 0 0 4px $background-color;
    }

  input[type="radio"]:focus + .label::before,
  input[type="radio"]:focus + label::before {
    outline      : none;
    border-color : $primary-color;
    }

  input[type="radio"]:checked:disabled + .label::before,
  input[type="radio"]:checked:disabled + label::before {
    box-shadow       : inset 0 0 0 4px $gray-2;
    background-color : $gray-4;
    border-color     : $gray-4;
    opacity          : 0.4;
    }
  input[type="radio"]:disabled + .label::before,
  input[type="radio"]:disabled + label::before {
    background-color : $gray-2;
    border-color     : $gray-4;
    opacity          : 0.4;
    }

  }