.berrypress-page {

  .berrypress-multiple-dropdown-container.berrypress-multiple-dropdown-container-sm .select2-container .select2-selection--multiple {
    font-size   : 13px;
    line-height : 1.5em;

    .select2-selection__rendered {
      padding-top : 1px;
      margin-top  : 0;

      .select2-search.select2-search--inline {
        font-size     : 13px;
        line-height   : 1.3em;
        margin-bottom : 1px;
        }

      .select2-selection__choice {
        padding        : 0 7px 0 9px;
        margin-right   : 5px;
        border-radius  : 6px;
        margin-top     : 1px;
        margin-bottom  : 2px;
        max-width      : 145px;
        overflow       : hidden;
        white-space    : nowrap;
        text-overflow  : ellipsis;
        vertical-align : middle;
        }
      }
    }
  }
