$val-1: 5px;
$val-2: 10px;
$val-3: 20px;
$val-4: 30px;

.berrypress-mb-2 {
    margin-bottom: $val-2;
  }
.berrypress-mb-3 {
    margin-bottom: $val-3;
  }
.berrypress-mb-4 {
    margin-bottom: $val-4;
  }

.berrypress-mt-3 {
    margin-top: $val-3;
  }
.berrypress-mt-4 {
    margin-top: $val-4;
  }