@use "../global" as *;
@use "buttons/index" as buttons;

.berrypress-page {

  input[type="submit"].berrypress-btn,
  .berrypress-btn {
    @include buttons.berrypress-btn;
    }

  input[type="submit"].berrypress-btn-primary,
  .berrypress-btn-primary {
    @include buttons.berrypress-btn-primary;
    }

  input[type="submit"].berrypress-btn-secondary,
  .berrypress-btn-secondary {
    @include buttons.berrypress-btn-secondary;
    }

  a.berrypress-btn {
    display: inline-block;
    }

  .berrypress-btn.berrypress-btn-icon {
    background-color : $gray-1;

    &:hover {
      color: $text-primary;
      background-color : $background-color;
      }
    }

  .berrypress-btn-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding-top: 1px;
    padding-left: 0;
    padding-right : 0;
    box-sizing: border-box;

    &:hover {
      color : $primary-color;
      }

    i {
      font-size: 18px;
      display: flex;
      justify-content: center;
      }
    }

  .berrypress-link {
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: underline;
    }

  .berrypress-btn.berrypress-btn-loading {
    cursor         : not-allowed;
    pointer-events : none;
    opacity        : 0.8;

    i {
      width               : 10px;
      height              : 10px;
      margin-right        : 4px;
      margin-top          : -2px;
      border              : 2px solid $text-secondary;
      border-bottom-color : $gray-3;
      border-left-color   : $gray-3;
      border-radius       : 50%;
      animation           : berrypress-spin 1s linear infinite;
      }

    i::before {
      content : "";
      }
    }

  .berrypress-btn.berrypress-btn-success {
    cursor: not-allowed;
    pointer-events : none;

      i::before {
        content: "check";
        }
      }
  }