@use "../../global" as *;


// States
.berrypress-modal {
  display: none;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  height: max-content;
  max-width: 90%;
  overflow: auto;
  border-radius: 7px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out;
  z-index: 0;
  }

.berrypress-modal.berrypress-active {
  display: block;
  z-index: 99999;
  opacity: 1;
  visibility: visible;
  }


// Sizes
.berrypress-modal-xl {
  width: 1200px;
  max-width: 90%;
  max-height: 90%;
  }

.berrypress-modal-lg {
  width: 900px;
  max-width: 90%;
  max-height: 90%;
  }

// Overlay

body:has(.berrypress-modal.berrypress-active) {
  overflow: hidden;
  }

body:has(.berrypress-modal.berrypress-active)::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9998;
  }

// Close button - TOP

.berrypress-modal {

  .berrypress-modal-close.berrypress-modal-close-top {
    padding: .3rem;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    top: 12px;
    right: 22px;
    position: absolute;
    line-height: 22px;

    i {
      display: flex;
      justify-content: center;
      font-size   : 22px;
      font-weight : 500;
      }
    }

  .berrypress-modal-close.berrypress-modal-close-top:hover {
    background-color: $gray-1;
    }
  }

@media (max-width: 481px) {
  .berrypress-modal-xl {
    max-width: 98%;
    max-height: 98%;
    }
  }