@font-face {
  font-family: "Material Symbols Rounded BerryPress";
  font-style: normal;
  font-weight: 400;
  src: url("../font/MaterialSymbolsRounded.woff2") format("woff2");
  font-display: block;
 }

// Icon list
$icons: (
        search: "\E8B6",
        home: "\E88A",
        settings: "\E8B8",
        check: "\E5CA",
        radio_button_checked: "\E837",
        radio_button_unchecked: "\E836",
        expand_more: "\E5CF",
        close: "\E5CD",
        error_outline: "\E001",
        first_page: "\E5DC",
        menu: "\E5D2",
        help: "\E887",
        star: "\E838",
        lock: "\E897",
        warning: "\E002",
        library_books: "\E02F",
        question_mark: "\E8AF",
        key_vertical: "\E73C",
        check_circle: "\E86C",
        sync_alt: "\EA18",

        // APC Plugin
        play_arrow: "\E037",
        filter_alt: "\EF4F",

        // Pagination
        keyboard_arrow_left: "\e314",
        keyboard_double_arrow_left: "\eac3",
        keyboard_arrow_right: "\e315",
        keyboard_double_arrow_right: "\eac9",
  );

// Generate Icons
.berrypress-icon-filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

[class^="berrypress-icon-"], [class*=" berrypress-icon-"] {
  display    : inline-block;
  font-style : unset !important;
  visibility: hidden;
  width: 1em;

  &::before {
    font-family : "Material Symbols Rounded BerryPress", sans-serif;
    }
  }
.berrypress-font-loaded [class^="berrypress-icon-"], [class*=" berrypress-icon-"] {
  visibility: visible;
  width: auto;
  }

@each $icon, $unicode in $icons {
  i.berrypress-icon-#{$icon}::before {
    content: "#{$unicode}";
    }
  }