@use "../../global" as *;

.berrypress-notice {
  font-weight   : 400;
  padding       : 10px 15px;
  margin-top    : 10px;
  border-radius : 4px;
  display       : flex;
  align-items   : center;
  gap           : 8px;
  background-color: #fff;
  color         : $text-primary;
  border: 1px solid $gray-1;

  h3 {
    margin-top: 10px;
    }
  }

.berrypress-notice.berrypress-notice-headline {
  padding-top: 15px;
  }

.berrypress-notice-icon {
  border-radius : 50%;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  justify-content: center;
  }

.berrypress-notice-image {
  align-self: flex-start;
  }

// Dismissible
.berrypress-page button.notice-dismiss {
  position: absolute;
  top: 10px;
  right: 1px;
  border: none;
  margin: 0;
  padding: 9px;
  background: 0 0;
  color: #787c82;
  cursor: pointer;
  }
.berrypress-notice.is-dismissible .notice-dismiss {
  &::before {
    color: $gray-5;
    }
  }