@use "../../global" as *;

.berrypress-notice.berrypress-error, // old, remove in the future
.berrypress-notice.berrypress-notice-error {
  border-right  : unset;
  border-top    : unset;
  border-bottom : unset;
  border-left   : 4px solid #d32f2f;
  background-color : #ffe6e6;

  .berrypress-notice-icon {
    background-color : transparent;

    i {
      color : #d32f2f;
      font-size : 18px;
      }
    }

  i {
    font-size : 16px;
    color     : #d32f2f;
    }

  a {
    color           : $text-primary;
    text-decoration : underline;
    font-weight     : 600;
    }

  }