@use "../../global" as *;

.berrypress-notice.berrypress-error {
  border-right  : unset;
  border-top    : unset;
  border-bottom : unset;
  border-left   : 4px solid #d32f2f;

  .berrypress-notice-icon {
    background-color : #d32f2f;

    i {
      color : #fff;
      font-size : 14px;
      }
    }

  i {
    font-size : 16px;
    color     : #d32f2f;
    }

  a {
    color           : $text-primary;
    text-decoration : underline;
    font-weight     : 600;
    }

  }